/* Charlotte Hill
Intoduction Page Assignment
Purpose: This is a default style sheet for the introduction page of UNCC webpage.  
Created 9/5/2021

Edited
*/

body {
    background-color: rgb(231, 210, 231);
    font-family:'Times New Roman', Times, serif;
    color: rgb(31, 33, 31);
}

#img-smaller{
    width: 576px;
    height: 719px;
    text-align: center;
    margin: auto;
    display: block;
}

#img-val-html {
    border: 0;
    width: 88px;
    height: 31px;
    padding: 3px;
}

#img-val-css {
    border: 0;
    width: 88px;
    height: 31px;
    padding: 3px;
}

h1, h3{
    font-weight: bold;
    text-align: center;
}

h2, a, p, footer {
    text-align: center;
}

ul, ol {
    text-align: left;
    font-size: 18px;
    padding-left: 60px;;
}

table{
    border-collapse: collapse;
    margin: 10px;
}

thead{
    background-color: #91c491;
}

th, td{
    border: 0.5px solid black;
    padding: 2px 5px 2px 5px;
    text-align: justify;
    vertical-align: middle;
}

tbody tr:nth-child(odd){
    background-color: #D2E7D2;
}

tbody tr:nth-child(even){
    background-color: white;
}

tbody tr:hover{
    background-color: #D2E7E7;
}

main{
    margin: auto;
    max-width: 500px;
    display: block;
    text-align: center;
    background-color: white;
    padding: 10px;
}

#div-info{
    text-align: left;
    width: 300px;
    margin: auto;
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#name, #pnum, #email{
    text-align: left;
}

#div-pet{
    text-align: left;
    margin: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div-sports{
    text-align: left;
    margin: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#div-vehicles{
    text-align: left;
    margin: auto;
    width: 200px;
    display: block;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sub-button{
    text-align: center;
    padding: 10px;
    background-color: #2A732A;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sub-button:hover{
    background-color: #8dc28d;
}

footer{
    padding-top: 30px;
}

