<!--
    By marking this module as done, I certify that I understand my obligations under UNC Charlotte Policy 407, The Code of Student Academic Integrity (http://legal.uncc.edu/policies/up-407) and that violations of the Code may result in disciplinary proceedings including, but not limited to, failing the course.
 

I also specifically declare that I completed programming this Activity entirely by myself, without help from classmates, friends, and former students. I may have received help from course resources and internet (to see how I can implement a specific concept or for syntax), but I did not receive or view solution of this activity from online, copy solution, or share solution in any form of this Activity with anyone else or in any forum, on- or off-line, and I will not share this solution or other information about this Activity in any way with anyone or on any on- or off-line forum in the future. Please do not ask any questions online about this activity. 
-->

<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="feeding.html">Feeding Hummingbirds</a></li>
    </ul>
</nav>