<!--
    Footer for the project preemie homemade site.

    Academic Integrety:
    I, Charlotte Hill, certify that I did not copy any part of this component footer came from any site or person. I completed it myslef.
-->

<footer>

    <p>Page Built by Samples Web Solutions</p>

    <a href="https://validator.w3.org/nu/?doc=https%3A%2F%2Fwebpages.uncc.edu%2Fchill103%2Fitis3135%2Findex.html">
        <img id="img-val-html" src="images/button-valid-html5.gif" alt="Valid HTML5!"/>
    </a>                
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fwebpages.uncc.edu%2Fchill103%2Fitis3135%2Fstyles%2Fdefault.css&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en">
        <img id="img-val-css" src="images/vcss.gif" alt="Valid CSS!" />
    </a>
    
</footer>