<!--
    Header and navigation for the project preemie homemade site.

    Academic Integrety:
    I, Charlotte Hill, certify that I did not copy any part of this component header came from any site or person. I completed it myslef.
-->

<header>
    <img id="logo" src="images/preemie_logo.png" alt="PPM Logo"/>
    <h2 id="banner">Project Preemie Homemade</h2>
    <nav id="main_nav">
        <a id="index_item" href="index.html">Home</a>
        <a id="display_item" href="projects_display.html">Projects</a>
        <div id="materials_dropdown">
            <a id="materials_content">Materials</a>
            <ul id="materials_dropdown_content">
                <li><a href="ck_materials.html">Crochet & Knitting</a></li>
                <li><a href="sew_materials.html">Sewing</a></li>
            </ul>
        </div>
        <a id="donate_item" href="donate_guidelines.html">Donating Guidelines</a>
        <div id="about_dropdown">   
            <a id="about_content">About Us</a>
            <ul id="about_dropdown_content">
                <li><a href="about_faq.html">About & FAQ</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>                    
        </div> 
    </nav>
</header>