<!--
    Navigation for entire student site.
-->

<nav>
    <h3>
        <ul>
            <li><a href="https://webpages.uncc.edu/chill103/itis3135/index.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li>Activities
                <div class="dropdown"> 
                    <a href="tables.html">Activity 2</a>
                    <a href="activity3.html">Activity 3</a>
                    <a href="brand-captivating-hummingbird.html">Activity 4</a>
                    <a href="website_evaluations.html">Website CRAP Evaluation</a>
                    <a href="images/meaningless/crap+page$CTP00.html">CRAP Page</a>
                    <a href="activity5.html">Activity 5</a>
                    <a>Activity 6</a>
                    <a>Activity 7</a>
                    <a>Activity 8</a>
                    <a>Activity 9</a>
                    <a>Activity 10</a>
                    <a>Activity 11</a>
                    <a>Activity 12</a>
                    <a>Activity 13</a>
                    <a>Activity 14</a>
                    <a>Activity 15</a>
                    <a>Activity 16</a>
                    <a>Activity 17</a>
                    <a>Activity 18</a>
                </div>
            </li>
            <li><a href="brand/index.html">Captivating Majestic Hummingbirds, LLC</a></li>
            <li><a href="project/index.html">Project Preemie Homemade</a></li>
        </ul>
    </h3>
</nav>